#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

CFLAGS = -Wall -W -g -DUSE_GETTEXT

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

patch:
	dh_testdir
	QUILT_PATCHES=debian/patches quilt push -a || test $$? = 2

unpatch:
	dh_testdir
	QUILT_PATCHES=debian/patches quilt pop -a -f || test $$? = 2

configure: configure-stamp
configure-stamp:
	dh_testdir
	./configure --prefix=/usr/games --bindir=/usr/games --datadir=/usr/share/games/hex-a-hop
	touch $@

build: build-stamp
build-stamp: configure-stamp 
	dh_testdir
	$(MAKE)
	$(MAKE) -C debian/i18n
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	$(MAKE) -C debian/i18n clean
	[ ! -f Makefile ] || $(MAKE) clean
	$(MAKE) -f /usr/share/quilt/quilt.make unpatch
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	#install -p -d -m 755 $(CURDIR)/debian/hex-a-hop/usr/share/lintian/overrides/
	#install -m 644 debian/lintian-override $(CURDIR)/debian/hex-a-hop/usr/share/lintian/overrides/hex-a-hop
	$(MAKE) DESTDIR=$(CURDIR)/debian/hex-a-hop install
	$(MAKE) -C debian/i18n install LOCALEDIR=$(CURDIR)/debian/hex-a-hop/usr/share/locale/ \
	  MANDIR=$(CURDIR)/debian/hex-a-hop/usr/share/man/


# Build architecture-independent files here.
binary-indep: build install

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs debian/hints.html
	dh_installexamples
	dh_install
	dh_installmenu
	# dh_installman is not yet able to install translations into <lang>.UTF-8/
	dh_installman debian/hex-a-hop.6
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
